.node {
  border: 2px solid rgb(229, 230, 235, 1);
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 0 -1px 4px 0 rgba(209, 209, 209, 50%),
    1px 1px 4px 0 rgba(217, 217, 217, 50%);
  padding: 16px;
  transition: 0.5s;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 10%);
    box-shadow: 0 -2px 4px 0 rgba(209, 209, 209, 50%),
      2px 2px 4px 0 rgba(217, 217, 217, 50%);
  }
}
