.node {
  border: 2px solid var(--semi-color-border);
  background-color: var(--semi-color-bg-0);
  border: 2px solid transparent;
  box-shadow: 0 -1px 4px 0 var(--semi-color-fill-1),
    1px 1px 4px 0 var(--semi-color-fill-2);
  padding: 16px;
  transition: 0.5s;
  &:hover {
    border: 2px solid rgba(0, 0, 0, 10%);
    box-shadow: 0 -2px 4px 0 var(--semi-color-fill-1),
      2px 2px 4px 0 var(--semi-color-fill-2);
  }
}
